<h1>do Subscribe</h1>

<%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe") do -%>
   <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
   <%= submit_tag("Sign me up!") %>
<% end %>
